@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@font-face {
    font-family: 'hamilton';
    src: url(../fonts/hamiltoneg.ttf);
}

body {
    background-color: #FCE4A4;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #443133;
}

.container {
    width: 1240px;
    margin: 0 auto;
}


/* header */
.header {
    width: 100%;
    position: fixed;
    padding: 35px 0;
    background-color: #FCE4A4;
}
.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logotype {
    cursor: pointer;
}
.logotype__h1 {
    font-family: 'hamilton';
    font-size: 48px;
    text-decoration: none;
    color: #443133;
}
.favourite__button {
    display: flex;
    cursor: pointer;
}
.favourite__icon {
    font-size: 25px;
    margin-right: 6px;
    text-decoration: none;
    color: #443133;
}
.favourite__count {
    background-color: #443133;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
}
.count__text {
    color: #FCE4A4;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* main */
.main {
    padding-top: 130px;
}
.search__form {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 600px;
}
.select__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__meal, .select__kitchen, .select__dish{
    margin-top: 6px;
    margin-bottom: 24px;
    padding: 12px 24px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
}
.select {
    width: 250px;
}
.select__kitchen, .select__dish {
    appearance: none;
    background-image: url('../images/arrow-select.svg'); 
    background-repeat: no-repeat;
    background-position: 95% center;
}
option {
    background-color: #FCE4A4;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    color: #443133;
}
.button__dark {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    border-radius: 20px;
    padding: 11px 23px;
    background: #443133;
    color: #FCE4A4;
}

/* search-result */
.search__result {
    margin: auto;
    width: 600px;
}

.result__title {
    margin-bottom: 20px;
}

.card {
    position: relative;
    margin-bottom: 20px;
    padding: 12px 24px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 170px 330px 20px; 
    grid-template-rows: 25px 130px; 
    gap: 12px 18px; 
    grid-template-areas: 
        "card__title card__ingredient favourite"
        "card__image card__desc card__desc";
}

.card__title { 
    grid-area: card__title;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card__ingredient { 
    grid-area: card__ingredient; 
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 14px;
}

.favourite { 
    grid-area: favourite; 
    cursor: pointer;
}

.card__image { 
    grid-area: card__image; 
}

.card__desc { 
    grid-area: card__desc; 
    font-size: 14px;
    line-height: 17px;
}

.button__light {
    font-weight: 400;
    border-radius: 20px;
    position: absolute;
    right: 24px;
    bottom: 12px;
    padding: 8px 15px;
    background: #FCE4A4;
    font-size: 15px;
    line-height: 18px;
    color: #443133;
    
}

/* page favourite */
.favourite__items {
    margin: 0 auto;
    width: 600px;
    padding-top: 130px;
}
.link__home {
    justify-content: start;
    margin-bottom: 12px;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #443133;
}

.link__home:hover {
    text-decoration: underline;
}

.delete {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.delete:hover path{
    fill: #FF001B;
}